#root {
  margin: 0 auto;
}

/* Waku chat interface styles */
.chat-interface {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 1px solid #ccc;
}

.chat-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-message {
  margin-bottom: 16px;
  padding: 12px;
  background-color: #f7f5f3;
  border-radius: 8px;
  border: 1px solid #e0dedb;
}

.chat-message span {
  display: block;
  font-size: 11px;
  color: #828387;
  margin-bottom: 6px;
}

.message-text {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.chat-footer {
  display: flex;
  padding: 10px;
  background-color: #f1f1f1;
  align-items: center;
  border-top: 1px solid #ccc;
}

#message-input {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-right: 10px;
}

.send-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
}

.send-button:hover {
  background-color: #0056b3;
}

.send-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
